* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.tooth-row {
    display: flex;
    height: 200px;
}

.tooth-holder {
    height: 100%;
    flex: 100px 0 0;
    position: relative;
}

/* .tooth-holder:after {
    position: absolute;
    top: 0;
    font-size: .7rem;
    content: "❌";
}

.tooth-holder.done:after {
    content: "✔️";
} */

.tooth-image {
    height: calc(100% - 20px);
}

.tooth-number {
    text-align: center;
    height: 20px;
}

svg {
    height: 100%;
    width: 100%;
    stroke-width: 5px;
}

path {
    cursor: pointer;
}